html, body {
    margin: 0;
}

body {
    font-family: Verdana, 'Lucida Sans', Tahoma, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

a:hover {
    color: white;
}

dl {
    margin: 0px 0px 20px 0px;
    padding: 5px;
}

dl:hover {
    background-color: black;
    padding: 5px;
}

ul {
    margin: 50px 0px 0px 10px;
    padding: 0px;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

div.menu {
    width: 20%;
    background-color: aqua;

}

.main-header {
    background: url("../img/clinica-main.jpg") no-repeat;
    background-size: cover;
    display: inline-block;
    height: 150px;
}

p.main-title-home {
    color: rgb(232, 226, 226);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 5px;
}

p.main-title {
    color: rgb(86, 4, 4);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 5px;
}

.about-header {
    background: url("../img/clinica-about.jpg") no-repeat;
    background-size: cover;
    display: inline-block;
    height: 150px;
}

.contact-header {
    background: url("../img/clinica-contact.png") no-repeat;
    background-size: cover;
    display: inline-block;
    height: 150px;
}

.time-header {
    background: url("../img/clinica-time.jpg") no-repeat;
    background-size: cover;
    display: inline-block;
    height: 150px;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.footer {
    background-color: rgb(39, 4, 155);
    min-height: 150px;
    color: white;
}
p.footer-contact {
    margin: 10px 0px 0px 10px;
}

div.footer-contact-details {
    display: flex;
    text-align: center;
    justify-content: center;
}

div.footer-contact-detail {
    height: 80px;
    width: 160px;
    background-color: #272262;
    border-radius: 15px;
    margin: 10px;
    padding: 5px 5px 10px 5px;
}

img.contact-img {
    margin: 5px 0px;   
}

p.phone-number {
    text-align: center;
    margin: 8px;
    padding: 0px;
}

table {
    text-align: center;
    font-size: small;
    border-spacing: 0px;
    width: 100%;
}

table thead tr th {
    background-color: rgb(39, 4, 155);
    color: #FFFFFF;
    padding: 10px;
    margin: 0px;
}

table tbody tr td {
    padding: 5px;
    margin: 0px;
}

table tbody tr:nth-child(even) td {
    background-color: lightblue;
}

p.contact-address-title {
    font-weight: bold;
    margin: 0px;
}

p.contact-address {
    margin: 5px 0px 20px 0px;
}

p.contact-us {
    font-weight: bold;
    margin: 30px 0px 0px 0px;
}

form {
    display: block;
    margin: 0px;
    text-align: start;
}

input {
    margin-top: 10px;
    margin-left: 10px;
    width: 50%;
}

textarea {
    margin-top: 10px;
    margin-left: 10px;
    width: 50%;
}

button {
    margin-top: 20px;
}